Checks: '-*,
  android-*,
  -android-cloexec-fopen,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-not-null-terminated-result,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-assignment-in-if-condition,
  -bugprone-macro-parentheses,
  cert-*,
  -cert-str34-c,
  -cert-err34-c,
  -cert-err33-c,
  -cert-flp30-c,
  clang-analyzer-*,
  -clang-analyzer-alpha.clone.CloneChecker,
  -clang-analyzer-alpha.deadcode.UnreachableCode,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.FloatLoopCounter,
  google-*,
  -google-readability-casting,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  misc-*,
  -misc-confusable-identifiers,
  -misc-no-recursion,
  performance-*,
  -performance-type-promotion-in-math-fn,
  readability-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-braces-around-statements,
  -readability-non-const-parameter,
  -readability-misleading-indentation'

CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 1
  - key: readability-function-cognitive-complexity.Threshold
    value: 428
